@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff"), url("../fonts/Poppins-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff"), url("../fonts/Poppins-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff"), url("../fonts/Poppins-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.woff"), url("../fonts/Poppins-Thin.woff2");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  background: pink;
}

body {
  background-color: #161616;
}

a {
  color: #ffffff;
}

* {
  font-family: "Poppins";
}

.btn {
  border: none;
  background-color: #c75e90;
  color: #fff;
  padding: 15px 48px;
  border-radius: 220px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  position: relative;
}

header {
  padding: 40px;
}

.header__wrapper {
  display: flex;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}

.header__ul {
  display: flex;
  gap: 64px;
  justify-content: flex-start;
  align-items: center;
}

.small-btn {
  padding: 0;
  display: flex;
  gap: 0;
  justify-content: flex-start;
  align-items: center;
  animation-name: sun-icon;
}

.sun {
  width: 24px;
  height: 24px;
  background-color: #fff;
  padding: 20px;
  border-radius: 100%;
}

.moon {
  width: 24px;
  height: 24px;
  padding: 20px;
  border-radius: 100%;
}

.header__btn {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  transition: 0.5s all;
}

header aside {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}

.sun:checked .moon {
  background-color: red;
}

.btn {
  border: none;
  background-color: #c75e90;
  color: #fff;
  padding: 10px 30px;
  border-radius: 220px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  position: relative;
}

.cats-comfort {
  padding: 40px;
  color: #ffffff;
}

.cats__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cats__ul {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(14, 14, 14);
  padding: 40px;
  border-radius: 40px;
  position: relative;
  padding-left: 300px;
  height: 480px;
}

.cats__li {
  padding: 20px;
  display: flex;
  gap: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 300px;
}

.first {
  position: absolute;
  left: 0;
  background-color: #C75E90;
  width: 300px;
  height: 100%;
  border-radius: 40px;
  padding: 60px 20px;
  text-align: left;
}

.cats__li-title {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #181818;
  width: 265px;
}

.cats__second-title {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.cats__info {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.cats__btn {
  padding: 14px 84px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
}

.cats__btn::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url("../../img/arrow-right.svg");
  top: calc(50% - 12px);
  left: 17px;
}

.cats-li__comfort-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */