* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
.container {
  width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  background: pink;
}
body {
  background-color: $main-color;
}
a {
  color: $text-color;
}
* {
  font-family: "Poppins";
}

.about_nekoln_div{
background-color: #161616;
display: flex;
border: 1px solid #161616;
border-radius: 40px;
}