.hotel-info__subtitle{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.36em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #696969;    
}